[submodule "bk1-wp-utils"]
	path = bk1-wp-utils
	url = git@github.com:bakaburg1/bk1-wp-utils.git
[submodule "prometheus"]
	path = prometheus
	url = git@github.com:noeltock/prometheus.git
[submodule "deps/SEOstats"]
	path = deps/SEOstats
	url = https://github.com/eyecatchup/SEOstats.git
