.postbox .inside, .stuffbox .inside {
	line-height: 1.5;
}

.postbox {
	font-family: "helvetica neue", sans-serif;
	font-size: 1rem;
	.hndle {
		font-size: 1.6rem;
		font-family: "helvetica neue", sans-serif;
	}
}

.separator {
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #FFF;
	td {
		padding: 0;
	}
}

.status {
	.value {
		padding-left: 6rem;
	}
	table {
		display: none;
	}
}

