/**** Mixins ****/

.carved-text {
	text-shadow: 0px 1px 0px #FFF, 0px 1px 0px #FFF;
}

@widget-blue: #21759B;

#dashboard-widgets-wrap{
	.postbox {
		font-family: "helvetica neue", sans-serif;
		font-size: 1rem;
		.hndle {
			font-size: 1.6rem;
			font-family: "helvetica neue", sans-serif;
		}
		.inside {
			line-height: 1.5;
		}
	}
}

/**** Style ****/

#adminmenu {
	.carved-text;

	.menu-top {

		.wp-menu-image {
			text-align: center;
			height: 100%;
			font-size: 1.1rem;
			padding-top: 4px;

			:hover {
				color: #D54E21;
			}
		}

		&.menu-icon-dashboard .wp-menu-image {
			background-image: none;
		}
	}
}

.wrap {
	#icon-index, #icon-edit-pages{
		font-size: 38px;
		background-image: none;
		padding-left: 1px;
		color: @widget-blue;
	}
	h2 {
		color: @widget-blue !important;
	}

}

.bootstrap-wpadmin {
	 hr {
		margin: 10px 0;
	}
}

#dashboard_summary {
	.status-text{
		.carved-text;
		color: #8F8F8F;
		font-weight: lighter;
		text-align: center;
		padding-top: 0.4rem;
		.icon-remove-sign {
			margin-left: 0.3rem;
			padding-top: 0.14rem;
		}
		i {
			margin-left: 1rem;
		}
		span {
			font-weight: bold;
		}
		.new {
			color: green;
		}
		.old {
			color: orange;
		}
	}
	.status-table {
		.row-fluid [class*="span"] {
			margin-left: 0;
			.carved-text;
		}
		.status-header {
			color: #8F8F8F;
			font-size: 19px;
			font-weight: lighter;
		}
		.status-view-toggle {
			.btn-group{
				float: right;
			}
			button {
				width: 1.5rem;
				font-weight: bold;
				font-family: 'helvetica neue', sans-serif;
				font-size: 13px;
			}
		}
		.separator.span12 {
			min-height: 0%;
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #FFF;
			margin-bottom: 0.7rem;
		}
		.grid-dummy-first.span12 {
			min-height: 0%;
		}
		.value {
			font-size: 22px;
			text-align: right;
			font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
			&.status-new {
				color: green;
			}
			&.status-categorized {
				color: orange;
			}
			&.status-excluded {
				color: red;
			}
			&.status-total {
				color: @widget-blue
			}
		}
		.key {
			color: #21759B;
			font-size: 17px;
			color: @widget-blue;
		}
	}
}

#the-list {
	.pertinency-toggle i {
		margin-left: 2px;
	}
}
